server-side/GwentServer/obj
server-side/GwentServer/bin
server-side/GwentServer/.idea
*.DS_Store
server-side/GwentServer/API/bin
server-side/GwentServer/API/obj
server-side/GwentServer/Application/obj
server-side/GwentServer/Application/bin
server-side/GwentServer/Core/obj
server-side/GwentServer/Core/bin
server-side/GwentServer/DataAccess/obj
server-side/GwentServer/DataAccess/bin
server-side/GwentServer/.vs
cdn
postgres-data
server-side/!new/ApiGateway/bin
server-side/!new/ApiGateway/obj
server-side/!new/bin
server-side/!new/Shared/bin
server-side/!new/obj/Docker/obj
server-side/!new/obj
server-side/!new/IdentityService/bin
server-side/!new/CardsService/obj
server-side/!new/CardsService/bin
server-side/!new/IdentityService/obj
server-side/!new/Shared/obj
server-side/!new/.vs
.env
server-side/old/.vs
server-side/old/API/bin
server-side/old/API/obj
server-side/old/Application/bin
server-side/old/CardsService/obj
server-side/old/Core/bin
server-side/old/Core/obj
server-side/old/DataAccess/bin
server-side/old/DataAccess/obj
server-side/old/IdentityService/obj
server-side/old/Shared/obj
server-side/old/Application/obj
