server-side/GwentServer/obj
server-side/GwentServer/bin
server-side/GwentServer/.idea
*.DS_Store
server-side/GwentServer/API/bin
server-side/GwentServer/API/obj
server-side/GwentServer/Application/obj
server-side/GwentServer/Application/bin
server-side/GwentServer/Core/obj
server-side/GwentServer/Core/bin
server-side/GwentServer/DataAccess/obj
server-side/GwentServer/DataAccess/bin
server-side/GwentServer/.vs
cdn