@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Witcher";
	src: url("./fonts/Witcher.TTF");
}

@font-face {
	font-family: "WitcherAlternative";
	src: url("./fonts/WitcherAlternative.TTF");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}